.App {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-image: url('https://th.bing.com/th/id/OIP.laz6w-yVUIaeFQuuyycf2wHaEc?w=300&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7'); /* Replace with your preferred map image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}


.search-bar {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.suggestions-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ddd;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}


.search-results {
  margin: 20px;
  color: white; 
}


h1, h2, p {
  color: white; 
}
